
<div class="container-fluid club_members_block">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1>
                    Welcome to the Club !
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div>
                <div class="font-weight-bold mb-2">
                    New member
                </div>
                <div id="form-content">
                    @await Component.InvokeAsync("MemberForm")
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <div class="d-flex justify-content-center font-weight-bold mb-2 mt-2">
                    Members
                </div>
                @await Component.InvokeAsync("Members")
            </div>
        </div>
    </div>
</div>


<script>
    function clear_content() {
        let controls = document.getElementsByClassName(`form-control`);
        for (let index = 0; index < controls.length; index++)
            controls[index].value = ``;

        let elements = document.getElementsByClassName(`field-validation-error`);
        for (let index = 0; index < elements.length; index++)
            elements[index].classList.add(`field-validation-valid`);
    }

</script>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}