@model UserViewModel

<form asp-action="Index" method="post" class="needs-validation new-member" novalidate>
    <div class="form-group">
        <div class="d-flex">
            <label asp-for="Name" class="mt-2"></label>
            <label class="mt-2 mr-2">:</label>
            <input class="form-control" type="text" asp-for="Name" />
        </div>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <div class="d-flex">
            <label asp-for="Email" class="mt-2"></label>
            <label class="mt-2 mr-2">:</label>
            <input class="form-control" type="text" asp-for="Email" />
        </div>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-light" onclick="clear_content()">Clear</button>
    </div>
</form>